@use 'reset';
@use '../component/UI/Login/Login.scss';
@use 'login';
@use 'create-user';
@use '../component/UI/Header/header';
@use '../component/UI/SideNav/side-nav';
@use '../component/UI/FeaturedMedia/FeaturedMedia';
@use '../component/UI/CastInfo/CastInfo';
@use '../component/UI/Account/Account';
@use '../component/UI/SearchModal/SearchModal';
@use '../component/UI/MediaRow/MediaRow';


h1 {
    font-size: 3rem;
}

html,
body {
    background: black;
}

.hide-comp {
    display: none;
}